* {
    margin: 0;
    font-family: "Public Sans", sans-serif;
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
  }
  
  .nav-bar img {
    width: 36%;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
  }
  
  .nav-links .button {
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-color: blue;
  }

  section {
    margin: 0 20rem;
    
  }

  section h1 {
    font-size: 4rem;
    padding: 4rem 8rem;
    border-radius: 20px;
    background: linear-gradient(
    97deg,
    rgba(33, 62, 207, 1) 0%,
    rgba(2, 36, 126, 1) 100%
  );
    color: white;
  }

  section ul li {
    padding: 0.25rem 0;
  }

 .policies {
    padding: 2rem 8rem;
  }

  h3 {
    margin: 1rem 0rem;
    font-size: 2rem;
    color: rgba(33, 62, 207, 1);
  }

  .intro p {
    font-weight: 600;
    font-size: larger;
    line-height: 1.5;
  }

  .collect-info ul {
    padding: 1rem 2.5rem;
    line-height: 1.5;
  }

 .collect-info p {
    font-weight: 600;
 }
 
 .info-sharing p {
    padding: 0.625rem 0;
    font-weight: 600;
 }

 .data-security p {
    font-weight: 600;
    padding: 0.625rem 0;
 }

 .contact p {
    padding: 0.625rem 0;
 }

 .contact {
    margin-bottom: 5rem;
 }

 /* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem 10rem;
    background: linear-gradient(
      97deg,
      rgba(33, 62, 207, 1) 0%,
      rgba(2, 36, 126, 1) 100%
    );
    color: white;
  }
  
  footer img {
    width: 20%;
  }
  
  .right-footer {
    display: grid;
    align-items: center;
  }
  
  .foot-logo {
    width: 15%;
  }
  
  
  .right-footer p {
    padding: 1rem 0;
  }
  
  .footer-links {
    display: inline-flex;
    flex-direction: column;
  
    justify-content: center;
  }
  
  .footer-links a {
    padding: 10px 0;
    color: white;
    text-decoration: none;
    margin: 0px 0;
    font-size: 1rem;
  }
  
  .footer-social {
    align-items: center;
    width: auto;
  }
  
  .footer-social a {
    color: white;
    width: 100%;
    margin: 1rem 0;
    font-size: 2rem;
  }
  
  .google-play-footer img {
    width: 80%;
  }

  @media (max-width: 480px) {
    .nav-bar {
      padding: 1rem 1rem;
    }
    .nav-links a {
      font-size: smaller;
    }
  
    .nav-bar img {
        width: 30%;
      }
    
      .logo-link {
        display: grid;
        align-items: center;
        width: fit-content;
      }
    

    section {
        margin: 0 2rem;
        
      }
    
      section h1 {
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 10px;
        
      }

      .policies {
        padding: 1rem 2rem;
      }

      h3 {
        margin: 1rem 0rem;
        font-size: 1.5rem;
        color: rgba(33, 62, 207, 1);
      }

      p {
        line-height: 1.5;
      }
  
 
    .footer {
      display: grid;
      padding: 5rem 6.25rem;
      justify-content: center;
      align-content: center;
      text-align: center;
      gap: 2rem;
    }
  
    #foot-logo {
      margin: auto;
      text-align: center;
      width: 50%;
    }
  
  
    .right-footer p {
      font-size: smaller;
    }
  
    .google-play-footer img {
      width: 60%;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .nav-bar {
      padding: 1rem 1rem;
    }
    .nav-links a {
      font-size: smaller;
    }
  
    .nav-bar img {
        width: 25%;
      }
    
      .logo-link {
        display: grid;
        align-items: center;
        width: fit-content;
      }
    
    section {
        margin: 0 2rem;
        
      }
    
      section h1 {
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 10px;
        
      }

      .policies {
        padding: 1rem 2rem;
      }

      h3 {
        margin: 1rem 0rem;
        font-size: 1.5rem;
        color: rgba(33, 62, 207, 1);
      }

      p {
        line-height: 1.5;
      }
    
  
    .footer {
      display: grid;
      padding: 5rem 6.25rem;
      justify-content: center;
      align-content: center;
      text-align: center;
      gap: 2rem;
    }
  
   #foot-logo {
      text-align: center;
      margin: auto;
    }
  
    footer img {
      width: 50%;
    }
  
    .right-footer p {
      font-size: smaller;
    }
  
    .google-play-footer img {
      width: 50%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .nav-bar {
      padding: 1rem 1rem;
    }
    .nav-links a {
      font-size: smaller;
    }
  
    .nav-bar img {
        width: 30%;
      }
    
      .logo-link {
        display: grid;
        align-items: center;
        width: fit-content;
      }
    
  
    section {
        margin: 0 2rem;
        
      }
    
      section h1 {
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 10px;
        
      }

      .policies {
        padding: 1rem 2rem;
      }

      h3 {
        margin: 1rem 0rem;
        font-size: 1.5rem;
        color: rgba(33, 62, 207, 1);
      }

      p {
        line-height: 1.5;
      }
    
 
  
    .footer {
      display: flex;
      padding: 5rem 6.25rem;
      justify-content: space-between;
      align-content: center;
      text-align: center;
      gap: 2rem;
    }
  
    .foot-logo {
      padding: 0 0rem;
      text-align: center;
    }
  
    footer img {
      width: 20%;
    }
  
    .right-footer p {
      font-size: smaller;
    }
  
    .google-play-footer img {
      width: 50%;
    }
  
  }
  
  @media (min-width: 1024px) and (max-width: 1660px) {
    .hero-section {
      display: flex;
      justify-content: space-around;
      padding: 1rem 2rem;
      overflow: hidden;
      height: 80lvh;
    }
    
    section {
        margin: 0 2rem;
        
      }
    
      section h1 {
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 10px;
        
      }

      .policies {
        padding: 1rem 2rem;
      }

      h3 {
        margin: 1rem 0rem;
        font-size: 1.5rem;
        color: rgba(33, 62, 207, 1);
      }

      p {
        line-height: 1.5;
      }
    
  }



